@font-face {
  font-family: "iconfont"; /* Project id 3952127 */
  src: url('iconfont.woff2?t=1691745933487') format('woff2'),
       url('iconfont.woff?t=1691745933487') format('woff'),
       url('iconfont.ttf?t=1691745933487') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #18a058;
}

.f30{font-size: 30px;}
.f50{font-size: 50px;}
.f70{font-size: 70px;}
.f100{font-size: 100px;}


.icon-chaxun:before {
  content: "\e610";
}

.icon-gongsi:before {
  content: "\e769";
}

.icon-a-dingdanguanli2x:before {
  content: "\e6f0";
}

.icon-iconset0435:before {
  content: "\e73a";
}

.icon-ruanjiankaifabao:before {
  content: "\ec2e";
}

.icon-shipinleimu:before {
  content: "\e6f2";
}

.icon-baozhuang:before {
  content: "\e633";
}

.icon-a-ziyuan609:before {
  content: "\e793";
}

.icon-shichangdongtai:before {
  content: "\e6ee";
}

.icon-zhengcejiedu:before {
  content: "\e607";
}

.icon-ziyuan:before {
  content: "\e617";
}

.icon-chanyefenxi:before {
  content: "\e747";
}

.icon-other:before {
  content: "\e62d";
}

.icon-shichang:before {
  content: "\e60d";
}

.icon-channel:before {
  content: "\e61e";
}

.icon-shejiyukaifa-:before {
  content: "\eaed";
}

.icon-tuandui:before {
  content: "\e604";
}

.icon-chanyelian:before {
  content: "\e605";
}

.icon-zhihang:before {
  content: "\e816";
}

.icon-fenxi:before {
  content: "\e618";
}

.icon-qudaofenxi:before {
  content: "\e606";
}

.icon-yaopin:before {
  content: "\e649";
}

.icon-dianzixue-:before {
  content: "\e69c";
}

.icon-fengshan:before {
  content: "\e612";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-gl-network:before {
  content: "\e99b";
}

.icon-yiliaoqixie:before {
  content: "\e7c8";
}

.icon-hangtiantubiao-:before {
  content: "\e600";
}

.icon-shangpin:before {
  content: "\e634";
}

.icon-jixiebi:before {
  content: "\e67b";
}

.icon-shiyanhuaxue:before {
  content: "\e653";
}

